In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from IPython.display import clear_output
import networkx as nx
import sys
import seaborn as sns
import matplotlib.style as style

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
affiliations = pd.read_csv('drive/MyDrive/Parkinson/affiliations.csv', sep = ';')
affiliations.rename(columns = {'DAfN':'AfN'}, inplace = True)

In [ ]:
in_degree = pd.read_csv('in_degree_min_max_aff.csv')
pagerank = pd.read_csv('pagerank_min_max_aff.csv')

in_degree_005_tan = pd.read_csv('in_degree_0.05_tan_fixed.csv').rename(columns = {'Unnamed: 0':'AfN', '0' :'pattern'})
in_degree_01_abs = pd.read_csv('in_degree_0.1_abs_fixed.csv').rename(columns = {'Unnamed: 0':'AfN', '0' :'pattern'})
pagerank_005_tan = pd.read_csv('pagerank_0.05_tan_fixed.csv').rename(columns = {'Unnamed: 0':'AfN', '0' :'pattern'})
pagerank_01_tan = pd.read_csv('pagerank_0.1_tan_fixed.csv').rename(columns = {'Unnamed: 0':'AfN', '0' :'pattern'})

In [ ]:
in_degree_005_tan = affiliations.merge(in_degree, on = 'AfN', how = 'right').merge(in_degree_005_tan, on = 'AfN', how = 'left')
in_degree_01_abs = affiliations.merge(in_degree, on = 'AfN', how = 'right').merge(in_degree_01_abs, on = 'AfN', how = 'left')
pagerank_005_tan = affiliations.merge(pagerank, on = 'AfN', how = 'right').merge(pagerank_005_tan, on = 'AfN', how = 'left')
pagerank_01_tan = affiliations.merge(pagerank, on = 'AfN', how = 'right').merge(pagerank_01_tan, on = 'AfN', how = 'left')

affiliations.merge(in_degree, on = 'AfN', how = 'right').merge(in_degree_005_tan, on = 'AfN', how = 'left').to_csv('drive/MyDrive/Parkinson/Добавить на сайт/in_degree_0.05_tan_fixed_aff.csv', sep = ';', index = False)
affiliations.merge(in_degree, on = 'AfN', how = 'right').merge(in_degree_01_abs, on = 'AfN', how = 'left').to_csv('drive/MyDrive/Parkinson/Добавить на сайт/in_degree_0.1_abs_fixed_aff.csv', sep = ';', index = False)
affiliations.merge(pagerank, on = 'AfN', how = 'right').merge(pagerank_005_tan, on = 'AfN', how = 'left').to_csv('drive/MyDrive/Parkinson/Добавить на сайт/pagerank_0.05_tan_fixed_aff.csv', sep = ';', index = False)
affiliations.merge(pagerank, on = 'AfN', how = 'right').merge(pagerank_01_tan, on = 'AfN', how = 'left').to_csv('drive/MyDrive/Parkinson/Добавить на сайт/pagerank_0.1_tan_fixed_aff.csv', sep = ';', index = False)

In [ ]:
def charts(data, folder, different_colors = None):
    x_names = ['2015', '2016', '2017', '2018', '2019', '2020', '2021']
    # x_names = [2015, 2016, 2017, 2018, 2019, 2020, 2021]

    for i in sorted(np.unique(data['pattern'].values)):
        fig, ax = plt.subplots()
        name = 'pattern ' + str(int(i))
        plt.title(name)

        vecs = data[data['pattern'] == i][x_names].values
        print(name)
        handles=data[data['pattern'] == i]['AfN'].values.tolist()
        for v in range(len(vecs)):
            if different_colors is None or i not in different_colors:
                ax.plot(x_names, vecs[v], c='b', label=handles[v])
            else:
                # ax.set_prop_cycle('color', sns.color_palette("magma", 1))
                ax.plot(x_names, vecs[v], label=handles[v])
                
        s = f'there are {len(vecs)}  vectors in the patterns'
        ax.text(0, -0.1, s, size='x-large')
        # ax.plot(vecs.mean(axis=0), linestyle = '--', c='r', label='mean vector')
        ax.axis(ymin=0,ymax=1)
        if len(handles) < 100:
            # Shrink current axis by 20%
            d = 20
            r = d/100
            box = ax.get_position()
            ax.set_position([box.x0, box.y0, box.width * (1 - r), box.height])

            # Put a legend to the right of the current axis
            ax.legend(loc='center left', bbox_to_anchor=(1, 0, r, 1))
        
        way = folder + '/' + name +'.png'
        fig.set_size_inches(18.5, 10.5)
        fig.savefig(way)
        fig.clf()
    plt.show()
    clear_output()

In [ ]:
! rm -rf in_degree_005_tan
! rm -rf in_degree_01_abs 
! rm -rf pagerank_005_tan 
! rm -rf pagerank_01_tan 
# !rm *.png

In [ ]:
! mkdir drive/MyDrive/Parkinson/in_degree_005_tan
! mkdir drive/MyDrive/Parkinson/in_degree_01_abs 
! mkdir drive/MyDrive/Parkinson/pagerank_005_tan 
! mkdir drive/MyDrive/Parkinson/pagerank_01_tan

! mkdir in_degree_005_tan
! mkdir in_degree_01_abs
! mkdir pagerank_005_tan
! mkdir pagerank_01_tan

mkdir: cannot create directory ‘drive/MyDrive/Parkinson/in_degree_005_tan’: File exists
mkdir: cannot create directory ‘drive/MyDrive/Parkinson/in_degree_01_abs’: File exists
mkdir: cannot create directory ‘drive/MyDrive/Parkinson/pagerank_005_tan’: File exists
mkdir: cannot create directory ‘drive/MyDrive/Parkinson/pagerank_01_tan’: File exists

In [ ]:
charts(in_degree_005_tan, 'drive/MyDrive/Parkinson/in_degree_005_tan')

In [ ]:
charts(in_degree_005_tan, 'in_degree_005_tan')

In [ ]:
charts(in_degree_01_abs, 'drive/MyDrive/Parkinson/in_degree_01_abs')

In [ ]:
charts(in_degree_01_abs, 'in_degree_01_abs')

In [ ]:
# charts(in_degree_01_tan, 'in_degree_01_tan', [0, 6, 8, 11, 12, 14, 20])

In [ ]:
charts(pagerank_005_tan, 'drive/MyDrive/Parkinson/pagerank_005_tan')

In [ ]:
charts(pagerank_005_tan, 'pagerank_005_tan')

In [ ]:
charts(pagerank_01_tan, 'drive/MyDrive/Parkinson/pagerank_01_tan')

In [ ]:
charts(pagerank_01_tan, 'pagerank_01_tan')

# Analysis

In [ ]:
net = pd.read_csv('drive/MyDrive/Parkinson/aff_net.csv', sep = ';')

In [ ]:
affiliations = pd.read_csv('drive/MyDrive/Parkinson/affiliations.csv', sep  =';')

## In-degree 0.1 tangent

### Pattern 0

In [ ]:
in_degree_01_tan = in_degree_01_tan.merge(affiliations, how = 'left', left_on = 'AfN', right_on = 'DAfN')
in_degree_01_tan[in_degree_01_tan['pattern'] == 0]

,pattern,AfN,2015,2016,2017,2018,2019,2020,2021,AfId,DAfN
12,0.0,Harvard University,0.550,0.545455,0.539642,0.686131,0.770658,0.585569,0.493190,136199984.0,Harvard University
121,0.0,Radboud University Nijmegen,0.200,0.263636,0.294118,0.510949,0.480607,0.469010,0.441577,145872427.0,Radboud University Nijmegen
275,0.0,University of Alabama at Birmingham,0.250,0.218182,0.278772,0.496350,0.522766,0.419056,0.401434,32389192.0,University of Alabama at Birmingham
518,0.0,University of Padua,0.025,0.100000,0.120205,0.255474,0.301855,0.243293,0.216487,138689650.0,University of Padua

In [ ]:
net_p0 = net[(net['AfId1'].isin([136199984, 145872427, 32389192, 138689650])) | (net['AfId2'].isin([136199984, 145872427, 32389192, 138689650]))]

In [ ]:
net_p0

               AfId1        AfId2     Y  weight
296     2.417490e+05   32389192.0  2016       1
297     2.417490e+05   32389192.0  2018       2
298     2.417490e+05   32389192.0  2019       1
299     2.417490e+05   32389192.0  2020       6
300     2.417490e+05   32389192.0  2021       4
...              ...          ...   ...     ...
169980  3.123573e+09  136199984.0  2017       1
170064  3.124150e+09  136199984.0  2021       1
170071  3.124150e+09  145872427.0  2021       2
170161  3.125471e+09  138689650.0  2020       1
170233  3.130229e+09  136199984.0  2021       1

[6414 rows x 4 columns]

In [ ]:
net_p0[(net_p0['AfId1'] == 145872427) & (net_p0['AfId2'] == 136199984)]['weight'].sum()

14

In [ ]:
net_p0[net_p0['AfId2'] == 136199984]['weight'].sum()

2413

In [ ]:
14/2413

0.005801906340654786

In [ ]:
net_p0[(net_p0['AfId2'] == 145872427) & (net_p0['AfId1'] == 136199984)]['weight'].sum()

9

In [ ]:
net_p0[net_p0['AfId2'] == 145872427]['weight'].sum()

1799

In [ ]:
print('Radboud University Nijmegen cited by')
net_p0[net_p0['AfId2'] == 145872427].groupby('AfId1').sum().reset_index()[['AfId1', 'weight']].\
merge(affiliations, how = 'left', left_on = 'AfId1', right_on = 'AfId').sort_values('weight', ascending = False).head(10)

Radboud University Nijmegen cited by

           AfId1  weight         AfId                                DAfN
346  145872427.0     224  145872427.0         Radboud University Nijmegen
241   99464096.0      38   99464096.0      Katholieke Universiteit Leuven
308  129604602.0      29  129604602.0                University of Sydney
444  183519381.0      16  183519381.0          Capital Medical University
395  165690674.0      15  165690674.0  Oregon Health & Science University
449  185261750.0      15  185261750.0               University of Toronto
37    16391192.0      14   16391192.0                 Tel Aviv University
94    33213144.0      14   33213144.0               University of Florida
46    17974374.0      13   17974374.0             University of São Paulo
517  861853513.0      13  861853513.0         Sapienza University of Rome

In [ ]:
print('Harvard University cited by')
net_p0[net_p0['AfId2'] == 136199984].groupby('AfId1').sum().reset_index()[['AfId1', 'weight']].\
merge(affiliations, how = 'left', left_on = 'AfId1', right_on = 'AfId').sort_values('weight', ascending = False).head(10)

Harvard University cited by

            AfId1  weight          AfId                           DAfN
384  1.362000e+08     149  1.362000e+08             Harvard University
143  4.512925e+07      29  4.512925e+07      University College London
313  1.119799e+08      27  1.119799e+08        Northwestern University
324  1.150762e+08      26  1.150762e+08     UCL Institute of Neurology
660  1.330343e+09      24  1.330343e+09                    Mayo Clinic
101  2.816691e+07      23  2.816691e+07          Karolinska Institutet
642  1.299303e+09      22  1.299303e+09  National Institutes of Health
513  1.830679e+08      20  1.830679e+08  Shanghai Jiao Tong University
514  1.835194e+08      20  1.835194e+08     Capital Medical University
629  1.283281e+09      20  1.283281e+09   Brigham and Women's Hospital

In [ ]:
print('University of Alabama at Birmingham cited by')
net_p0[net_p0['AfId2'] == 32389192].groupby('AfId1').sum().reset_index()[['AfId1', 'weight']].\
merge(affiliations, how = 'left', left_on = 'AfId1', right_on = 'AfId').sort_values('weight', ascending = False).head(10)

University of Alabama at Birmingham cited by

            AfId1  weight          AfId                                 DAfN
81   3.238919e+07     145  3.238919e+07  University of Alabama at Birmingham
368  1.708973e+08      40  1.708973e+08                      Duke University
485  1.299303e+09      34  1.299303e+09        National Institutes of Health
493  1.317189e+09      29  1.317189e+09                  Van Andel Institute
85   3.321314e+07      23  3.321314e+07                University of Florida
220  9.946410e+07      22  9.946410e+07       Katholieke Universiteit Leuven
391  1.830679e+08      19  1.830679e+08        Shanghai Jiao Tong University
437  2.043370e+08      19  2.043370e+08                    Aarhus University
286  1.348203e+08      15  1.348203e+08    Spanish National Research Council
400  1.875316e+08      15  1.875316e+08                      Lund University

In [ ]:
print('University of Padua cited by')
net_p0[net_p0['AfId2'] == 138689650].groupby('AfId1').sum().reset_index()[['AfId1', 'weight']].\
merge(affiliations, how = 'left', left_on = 'AfId1', right_on = 'AfId').sort_values('weight', ascending = False).head(10)

University of Padua cited by

,AfId1,weight,AfId,DAfN
239,1.386896e+08,90,1.386896e+08,University of Padua
0,2.417490e+05,24,2.417490e+05,University of Cambridge
394,1.299303e+09,21,1.299303e+09,National Institutes of Health
109,5.514346e+07,10,5.514346e+07,University of Turin
248,1.433977e+08,10,1.433977e+08,Innsbruck Medical University
182,9.946410e+07,9,9.946410e+07,Katholieke Universiteit Leuven
323,1.869036e+08,9,1.869036e+08,University of Luxembourg
332,1.932236e+08,9,1.932236e+08,University of Trento
181,9.870432e+07,8,9.870432e+07,Icahn School of Medicine at Mount Sinai
251,1.458724e+08,8,1.458724e+08,Radboud University Nijmegen

In [ ]:
in_degree = pd.read_csv('in_degree_min_max_aff.csv')

In [ ]:
in_degree[in_degree['AfN'] == 'University of Oxford']

,AfN,2015,2016,2017,2018,2019,2020,2021
15,University of Oxford,0.028674,0.09319,0.168459,0.271685,0.382079,0.567025,0.591398